/* Default state: no blur */
#zen-tabbox-wrapper {
  transition: filter 0.25s ease;
  filter: none;
}

#statuspanel {
    position: absolute !important;
    right: 0 !important;
    left: unset !important;
    bottom: 0 !important;
}
